body {
    margin: 0px 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.subject {
    padding: 10px;
    border: black 1px solid;
    margin: 5px;
    border-radius: 10px;
}

.subject .value {
    margin-left: 5px;
    float: right;
}

.subject input {
    display: block;
}

.col-4 {
    width: 300px;
}